<nav>
  <ul>
    <li routerLink="" [ngClass]="{'nav__link--active' : selectedRoute === 'dashboard'}">
      Dashboard
    </li>
    <li routerLink="/recent" [ngClass]="{'nav__link--active' : selectedRoute === 'recent'}">
      Recent Activity
    </li>
    <!-- <li routerLink="/allexpense" [ngClass]="{'nav__link--active' : selectedRoute === 'allexpnese'}">
      All Expenses
    </li> -->
    <li routerLink="/groups" [ngClass]="{'nav__link--active' : selectedRoute === 'groups'}">
      Groups
    </li>
    <li routerLink="/users" [ngClass]="{'nav__link--active' : selectedRoute === 'users'}">
      Friends
    </li>
  </ul>
</nav>

