<div class="app-container">
  <app-nav></app-nav>
  <main>
    <h1>Welcome to Split Pay!</h1>
    <p>We organize all your shared expenses and IOUs in one place, so that everyone can see who they owe. Whether you
      are sharing a ski vacation, splitting rent with roommates, or owe someone for lunch, Splitwise makes life easier.
      We store data “in the cloud,” so that you can access it anywhere: on iPhone, Android, or on your computer.</p>
      <ul class="card">
        <div *ngFor="let unit of allBalanceData ">
          <li class="borderlist">
            <p>Group Name: {{ unit.groupName }}</p>
            <p>Friend Name: {{ unit.userName }}</p>
            <p>Friend Balance: {{ unit.balance }}</p>
          </li>
        </div>
      </ul>

  </main>
</div>